
<a href="/add/dish" class="btn btn-info float-right">Add a Dish</a>
<div class="text-center">
    <h1 class="display-2"><a href="/">Chefs</a> | Dishes</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Dish d in ViewBag.AllDishes)
            {
            <tr>
                <th scope="row">@d.Name</th>
                <td>@d.Chef.FirstName @d.Chef.LastName</td>
                <td>@d.Tastiness</td>
                <td>@d.Calories</td>
            </tr>
            }
        </tbody>
    </table>
</div>
